.selected{
 
   background-color: #6699ff;
   border-radius:6%;
        -moz-border-radius:6%;
        -webkit-border-radius:6%;
}

.myradio:hover {
	cursor:pointer;
       
        
}

.myradio {
        text-align: center;
}

.seance:hover {
	cursor:pointer;
}

.seance {
    text-align: center;
}

.myratt {
    background-color: #d1250e;
}

.myexam {
    background-color: #FFFF33;
}

.myseancesupp {
    background-color: #FFAF37;
}

.myseancepermut {
    background-color: #66CC33;
}

.myreport {
    background-color: #c9d827;
}
